body{
    font-family: Arial, sans-serif;

}
h1{
    text-align: center;
    background-color: #66bfbf;
    padding: 30px;
    margin-top: 0px;
}
.form{
    margin: 20px auto;
    max-width: 400px;
    display: flex;
    gap: 15px;
    text-align: left;
    flex-wrap: wrap;
}
.input{
    width: 100%;
    display: flex;
    align-items: center;

}
.form input{
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form label{
    margin-right: 10px;
    flex-shrink: 0;
}
.form button{
    padding: 10px 16px;
    font-size: 16px;
    background-color: #66bfbf;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
}
.form button:hover{
    background-color: #acdcee; 
}
.att{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}